<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="../static/css/others.css"/>
  <script type="text/javascript" src="../static/js/simple-calendar.js"></script>
  <script type="text/javascript" src="../static/js/test.js"></script>

</head>
<body>
<div id="work_excel">
  <input name="asd" type="radio" checked value="11">
  <input name="asd" type="radio" value="112">
  <input name="asd" type="radio" value="113">
</div>
<div id="work_excel2">
  <div id="checkbox_list1">
    <input type="button" id="all1" value = "全选"/>
    <input type="button" id="del1" value = "删除"/>
    <p>考勤文件列表:</p>
    <br>
    <br>


    <div id = "dir1">

    </div>
  </div>

<!--<div id = "dir2"></div>
<div id = "dir3"></div>
<div id = "dir4"></div>-->
</div>
</body>


</html>